<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title class="title">メモアプリ</title>
    <link rel="stylesheet" href="/style.css" type='text/css'>
  </head>
  <body>
    <main>
      <header class="header">
        <h1><a href="/memos" class="header__title">メモアプリ</a></h1>
      </header>
      <div class="main-content">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
